<div class="principal-container">
  <button class="atras" (click)="back()">
    <mat-icon>keyboard_backspace</mat-icon>
  </button>
  <div class="table-container">
    <table>
      <thead class="head-table">
        <tr>
          <th>
            Nombre de la oferta
          </th>
          <th>
            descripción
          </th>
          <th>
            precio
          </th>
          <th>
            Acciones
          </th>
        </tr>
      </thead>
      <tbody class="body-table">
        <tr class="tr-table" *ngFor="let oferta of ofertasMos">
          <td>{{oferta.nombre}}</td>
          <td>{{oferta.descripcion}}</td>
          <td>{{oferta.precio}}</td>
          <td>
            <div class="container-button">
              <button [id]="oferta.botonID" class="acept" mat-icon-button (click)="aceptarOferta(oferta.ofertaID)">
                <mat-icon> check_circle</mat-icon>
              </button>
              <button [id]="oferta.botonID" class="discard" mat-icon-button (click)="rechazarOferta(oferta.ofertaID)">
                <mat-icon> cancel</mat-icon>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
