.principal-container{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.table-container{
  width: 80%;
  height: 80%;
  border: 1px solid #c2185b;
}

.table-container table {
  width: 100%;
}

.container-button{
  display: flex;
}

.head-table th{
  text-align: center;
  border-bottom: 1px solid #c2185b;
}

.body-table td{
  text-align: center;
  border-bottom: 1px solid #c2185b;
}
