.principal-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
}

.principal-container .atras{
  background-color: transparent;
  align-self: start;
  margin: 20px;
}

.table-container{
  margin-top: 40px;
  width: 80%;
  height: 100%;
  border: 1px solid #c2185b;
}

.table-container table {
  width: 100%;
}

.container-button{
  display: flex;
}

.head-table th{
  text-align: center;
  border-bottom: 1px solid #c2185b;
}

.body-table td{
  text-align: center;
  border-bottom: 1px solid #c2185b;
}
